<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuc.flutter.plugin.asr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="16929256" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="lEqHHrC2DxrlLOeEEDEirGCg" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="l1YEafBCjygRGjjWFufOAqDz9z136P7e" />

        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />
    </application>
</manifest>
